@model IEnumerable<InOut.Models.Expense>
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    
        <div class="col-6">
            <h1>My expense list</h1>
        </div>
    
        <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-primary w-50">Create new expense</a>
        </div>

</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Expense name</th>
            <th>Amount</th>
            <th>Changes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model)
        {
        <tr>
            <td width="30%">@expense.ExpenseName</td>
            <td width="30%">@expense.Amount</td>
            <td width="30%" class="text-center">
                <a class="btn btn-success w-25 m-1" asp-route-id=@expense.ID asp-action="Update">Update</a>
                <a class="btn btn-danger w-25 m-1" asp-route-id=@expense.ID asp-action="Delete">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
